/*
 * Copyright (C) 2012 Marek Vasut <marex@denx.de>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx28.dtsi"
#include "dt-bindings/gpio/gpio.h"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Technologic Systems i.MX28 TS-7680 (Default Device Tree)";
	compatible = "fsl,imx28-ts7680", "fsl,imx28";

	memory {
		reg = <0x40000000 0x08000000>;   /* 128MB */
	};

	apb@80000000 {
		apbh@80000000 {
		
			gpmi-nand@8000c000 {
				#address-cells = <1>;
				#size-cells = <1>;
				pinctrl-names = "default";
				pinctrl-0 = <&gpmi_pins_ts7680 &gpmi_status_cfg_ts7680>;
				status = "okay";

				partition@0 {
					label = "bootloader";
					reg = <0x00000000 0x01400000>;
				};

				partition@1 {
					label = "tspart";
					reg = <0x01400000 0x01400000>;
				};

				partition@2 {
					label = "filesystem";
					reg = <0x02800000 0x7D800000>;
				};
			};
	   
			
			ssp0: ssp@80010000 {
				compatible = "fsl,imx28-mmc";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x80010000 0x2000>;
				interrupts = <96>;
				clocks = <&clks 46>;
				dmas = <&dma_apbh 0>;
				dma-names = "rx-tx";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_ts7680					     
					     &mmc0_sck_cfg
					     &en_sd_pwr>;
				broken-cd = <1>;	     
				bus-width = <4>;
				wp-gpios = <&gpio3 10 0>;
				vmmc-supply = <&reg_vddio_sd0>;
				status = "okay";
			};
						
			ssp2: ssp@80014000 {
				compatible = "fsl,imx28-mmc";
				max-frequency = <26000000>;
				pinctrl-names = "default";
				pinctrl-0 = <&mmc1_4bit_pins_ts7680 
				            &mmc_sck_cfg 
				            &wifi_irq>;
				broken-cd = <1>;				
				cap-sdio-irq;
				non-removable;
				bus-width = <4>;
				vmmc-supply = <&wl12xx_vmmc>;
				status = "okay";
			};
			
			
			pinctrl@80018000 {
				pinctrl-names = "default";
				
				en_sd_pwr: en_sd_pwr {
				   fsl,pinmux-ids = <
				      MX28_PAD_PWM3__GPIO_3_28   // EN_SD_POWER#
				   >;
				   fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;				   
				};
								
				mmc0_4bit_pins_ts7680: mmc0-4bit@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SSP0_DATA0__SSP0_D0
						MX28_PAD_SSP0_DATA1__SSP0_D1
						MX28_PAD_SSP0_DATA2__SSP0_D2
						MX28_PAD_SSP0_DATA3__SSP0_D3
						MX28_PAD_SSP0_CMD__SSP0_CMD						
						MX28_PAD_SSP0_SCK__SSP0_SCK
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};
				
				mmc1_4bit_pins_ts7680: mmc1-4bit@0 {   /* wifi */
					reg = <0>;
					fsl,pinmux-ids = <
					   MX28_PAD_SSP0_DATA4__SSP2_D0
					   MX28_PAD_SSP2_SS1__SSP2_D1
						MX28_PAD_SSP2_SS2__SSP2_D2
						MX28_PAD_SSP0_DATA5__SSP2_D3
						MX28_PAD_SSP0_DATA6__SSP2_CMD
						MX28_PAD_SSP0_DATA7__SSP2_SCK						
						MX28_PAD_LCD_D22__GPIO_1_22
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_LOW>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};

				
				wifi_irq: wifi-irq {									
					fsl,pinmux-ids = <					   
						MX28_PAD_LCD_D22__GPIO_1_22
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};

				mmc_sck_cfg: mmc-sck-cfg {
					fsl,pinmux-ids = <
						MX28_PAD_SSP0_DATA7__SSP2_SCK
					>;
					fsl,drive-strength = <MXS_DRIVE_12mA>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};
				
								
				gpmi_pins_ts7680: gpmi-nand-ts7680@0 {
					reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_GPMI_D00__GPMI_D0
						MX28_PAD_GPMI_D01__GPMI_D1
						MX28_PAD_GPMI_D02__GPMI_D2
						MX28_PAD_GPMI_D03__GPMI_D3
						MX28_PAD_GPMI_D04__GPMI_D4
						MX28_PAD_GPMI_D05__GPMI_D5
						MX28_PAD_GPMI_D06__GPMI_D6
						MX28_PAD_GPMI_D07__GPMI_D7
						MX28_PAD_GPMI_CE0N__GPMI_CE0N
						MX28_PAD_GPMI_RDY0__GPMI_READY0
						MX28_PAD_GPMI_RDN__GPMI_RDN
						MX28_PAD_GPMI_WRN__GPMI_WRN
						MX28_PAD_GPMI_ALE__GPMI_ALE
						MX28_PAD_GPMI_CLE__SSP3_D2
						MX28_PAD_GPMI_CLE__GPMI_CLE
						MX28_PAD_GPMI_RDY1__GPIO_0_21      /* NC */
						MX28_PAD_GPMI_CE1N__GPIO_0_17      /* RED_LED# */
						MX28_PAD_GPMI_RESETN__GPIO_0_28    /* GREEN_LED# */
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};
				
				gpmi_status_cfg_ts7680: gpmi-status-cfg-ts7680 {
					fsl,pinmux-ids = <
						MX28_PAD_GPMI_RDN__GPMI_RDN
						MX28_PAD_GPMI_WRN__GPMI_WRN						
						MX28_PAD_GPMI_CE1N__GPIO_0_17      /* RED_LED# */
						MX28_PAD_GPMI_RESETN__GPIO_0_28    /* GREEN_LED# */
					>;
					
					fsl,drive-strength = <MXS_DRIVE_12mA>;
				};
				
				mac0_pins_ts7680: mac0@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					   MX28_PAD_ENET0_MDC__GPIO_4_0
					   MX28_PAD_ENET0_MDIO__GPIO_4_1
					   MX28_PAD_ENET0_RX_EN__ENET0_RX_EN
					   MX28_PAD_ENET0_RXD0__ENET0_RXD0
					   MX28_PAD_ENET0_RXD1__ENET0_RXD1
					   MX28_PAD_ENET0_TX_EN__ENET0_TX_EN
					   MX28_PAD_ENET0_TXD0__ENET0_TXD0
					   MX28_PAD_ENET0_TXD1__ENET0_TXD1
					   MX28_PAD_ENET_CLK__CLKCTRL_ENET
					   MX28_PAD_SSP0_DETECT__GPIO_2_9   // ETH_RESET#
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};

			  i2c1_gpio_pins: i2c1_gpio_pins@0 {			  
			     fsl,pinmux-ids = <
				      MX28_PAD_AUART0_RTS__GPIO_3_3   // E2_I2C_CLK
				      MX28_PAD_AUART0_CTS__GPIO_3_2   // E2_I2C_DAT
				   >;
				   fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;				  
			  };				
			  
			  
			  spi_boot_pins_auart2: spi-boot-pins-auart2@0 {
			      reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SSP2_SCK__AUART2_RX
						MX28_PAD_SSP2_MOSI__AUART2_TX
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
			  };

			  spi_boot_pins_auart3: spi-boot-pins-auart3@0 {
			      reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SSP2_MISO__AUART3_RX
						MX28_PAD_SSP2_SS0__AUART3_TX
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
			  };

			  auart4_pins: auart4@0 {
			      reg = <0>;
					fsl,pinmux-ids = <
						MX28_PAD_SAIF0_BITCLK__AUART4_RX
						MX28_PAD_SAIF0_SDATA0__AUART4_TX
						>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
			  };

			};
			
			can0: can@80032000 {
				pinctrl-names = "default";
				pinctrl-0 = <&can0_pins_a>;
				status = "okay";
			};

			can1: can@80034000 {
				pinctrl-names = "default";
				pinctrl-0 = <&can1_pins_a>;
				status = "okay";
			};
			
			
			
		};

		apbx@80040000 {
			saif0: saif@80042000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif0_pins_a>;
				status = "okay";
			};

			saif1: saif@80046000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif1_pins_a>;
				fsl,saif-master = <&saif0>;
				status = "okay";
			};


			i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				clock-frequency = <100000>;
				status = "okay";

				rtc: isl12020@6f {
				compatible = "isl,isl12020";
				reg = <0x6f>;
				};

				cortexM0: cortextm0@78 {
				compatible = "ts7680,m0";
				reg = <0x78>;				
				};
		   };

			i2c1_gpio: i2c1_gpio@0 {
			   compatible = "i2c-gpio";
			   gpios = <&gpio3 2 0       // E2_I2C_DAT
			         &gpio3 3 0          // E2_I2C_CLK
			      >;
			   i2c-gpio,sda-open-drain;
			   i2c-gpio,scl-open-drain;
			   i2c-gpio,delay-us = <2>;	/* ~100 kHz */
			   i2c-gpio,timeout-ms = <500>; 
			   #address-cells = <1>;
			   #size-cells = <0>;			   
				pinctrl-names = "default";
				pinctrl-0 = <&i2c1_gpio_pins>;
				status = "okay";
				
				eeprom: eeprom@51 {
				   compatible = "at,24c08";
				   reg = <0x51>;
				   pagesize = <16>;
				};
						
				gpio8: ts7680gpio@28 {
				   compatible = "ts76xxgpio";
				   reg = <0x28>;   
				   #gpio-cells = <2>;
				   gpio-controller;
				};
			};
			
			duart: serial@80074000 {
				pinctrl-names = "default";
				pinctrl-0 = <&duart_pins_a>;
				status = "okay";
			};

			usbphy0: usbphy@8007c000 {
				status = "okay";
								
			};

			usbphy1: usbphy@8007e000 {			   
				status = "okay";
			};


			auart0: serial@8006a000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart0_2pins_a>;
				status = "okay";
			};

			auart1: serial@8006c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart1_2pins_a>;
				status = "okay";
			};

			auart2: serial@8006e000 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi_boot_pins_auart2>;
				status = "okay";
			};

			auart3: serial@80070000 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi_boot_pins_auart3>;
				status = "okay";
			};

			auart4: serial@80072000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart4_pins>;
				status = "okay";
			};

			pwm: pwm@80064000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pwm4_pins_a>;
				status = "okay";
			};
		};
	};

	ahb@80080000 {	   
		usb1: usb@80090000 {
			vbus-supply = <&reg_usb1_vbus>;		
			disable-over-current;
			dr_mode = "host";
			status = "okay";
		};

		mac0: ethernet@800f0000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&mac0_pins_ts7680>;			      
			clocks = <&clks 57>, <&clks 57>, <&clks 64>;
			clock-names = "ipg", "ahb", "enet_out";
			phy-reset-gpios = <&gpio2 9 GPIO_ACTIVE_LOW>;
			phy-reset-duration = <1000>;
			status = "okay";

	      phy: ethernet@0 {	   
	         device_type = "network";	         				         	    
	         fixed-link = <0 1 100 0 0>;
	         };
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		
		
		reg_vddio_sd0: vddio-sd0 {
			compatible = "regulator-fixed";
			regulator-name = "vddio-sd0";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			gpio = <&gpio3 28 0>;
			};
	
		
		reg_usb0_vbus: usb0_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 12 0>;
			
		};

		reg_usb1_vbus: usb1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio3 13 0>;
			regulator-always-on;
		};
		
		
		wl12xx_vmmc: wl12xx-vmmc {		
			compatible = "regulator-fixed";
			regulator-name = "vddio-sd1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio8 44 0>;
			startup-delay-us = <70000>;
			enable-active-high;
			regulator-boot-on;
		};


	};
	
	wlan  {
      compatible = "ti,wilink8";		
		interrupt-parent = <&gpio1>;		
		interrupts = <22 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "wlan";
		status = "okay";
	};
				
};


