/*
 * Copyright (C) 2016 Technologic Systems
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx28.dtsi"
#include "dt-bindings/gpio/gpio.h"
#include <dt-bindings/interrupt-controller/irq.h>

/ {

	model = "Technologic Systems i.MX28 TS-7682 (Default Device Tree)";
	compatible = "fsl,imx28-ts7682", "fsl,imx28";

	aliases {
		mmc0 = &ssp0;
		mmc2 = &ssp1;
		i2c0 = &i2c0;
	};

	memory {
		reg = <0x40000000 0x08000000>;   /* 128MB */
	};

	apb@80000000 {
		apbh@80000000 {
		
			ssp0: ssp@80010000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc0_4bit_pins_ts7682
					     &mmc0_sck_cfg
					     &en_sd_pwr>;
				broken-cd = <1>;	     
				bus-width = <4>;
				vmmc-supply = <&reg_vddio_sd0>;
				status = "okay";
			};

			ssp1: ssp@80012000 {
				compatible = "fsl,imx28-mmc";
				pinctrl-names = "default";
				pinctrl-0 = <&mmc1_4bit_pins
					     &en_sd_pwr>;
				broken-cd = <1>;	     
				bus-width = <4>;
				vmmc-supply = <&reg_vddio_sd0>;
				status = "okay";
			};
						
			ssp2: ssp@80014000 {
				compatible = "fsl,imx28-mmc";
				max-frequency = <26000000>;
				pinctrl-names = "default";
				pinctrl-0 = <&mmc2_4bit_pins
				            &mmc_sck_cfg>;
				broken-cd = <1>;				
				cap-sdio-irq;
				non-removable;
				bus-width = <4>;
				vmmc-supply = <&wl12xx_vmmc>;
				status = "okay";
			};

			ssp3: ssp@80016000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "fsl,imx28-spi";
				pinctrl-names = "default";
				pinctrl-0 = <&spi3_pins_a>;
				status = "disabled";
			};
			
			
			pinctrl@80018000 {
				pinctrl-names = "default";
				
				en_sd_pwr: en_sd_pwr {
				   fsl,pinmux-ids = <
				      MX28_PAD_PWM3__GPIO_3_28   // EN_SD_POWER#
				   >;
				   fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;				   
				};

				mmc0_4bit_pins_ts7682: mmc0-4bit@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					  MX28_PAD_SSP0_DATA0__SSP0_D0
					  MX28_PAD_SSP0_DATA1__SSP0_D1
					  MX28_PAD_SSP0_DATA2__SSP0_D2
					  MX28_PAD_SSP0_DATA3__SSP0_D3
					  MX28_PAD_SSP0_CMD__SSP0_CMD						
					  MX28_PAD_SSP0_SCK__SSP0_SCK
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};

				mmc1_4bit_pins: mmc1-4bit@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					  MX28_PAD_GPMI_WRN__SSP1_SCK

					  MX28_PAD_GPMI_RDY1__SSP1_CMD
					  MX28_PAD_GPMI_D00__SSP1_D0
					  MX28_PAD_GPMI_D01__SSP1_D1
					  MX28_PAD_GPMI_D02__SSP1_D2
					  MX28_PAD_GPMI_D03__SSP1_D3
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};
				
				mmc2_4bit_pins: mmc2-4bit@0 {   /* wifi */
					reg = <0>;
					fsl,pinmux-ids = <
					  MX28_PAD_SSP0_DATA4__SSP2_D0
					  MX28_PAD_SSP2_SS1__SSP2_D1
					  MX28_PAD_SSP2_SS2__SSP2_D2
					  MX28_PAD_SSP0_DATA5__SSP2_D3
					  MX28_PAD_SSP0_DATA6__SSP2_CMD
					  MX28_PAD_SSP0_DATA7__SSP2_SCK						
					  MX28_PAD_LCD_D22__GPIO_1_22
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_LOW>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};

				mmc_sck_cfg: mmc-sck-cfg {
					fsl,pinmux-ids = <
					  MX28_PAD_SSP0_DATA7__SSP2_SCK
					>;
					fsl,drive-strength = <MXS_DRIVE_12mA>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};

				mac0_pins_ts7682: mac0@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					   MX28_PAD_ENET0_MDC__GPIO_4_0
					   MX28_PAD_ENET0_MDIO__GPIO_4_1
					   MX28_PAD_ENET0_RX_EN__ENET0_RX_EN
					   MX28_PAD_ENET0_RXD0__ENET0_RXD0
					   MX28_PAD_ENET0_RXD1__ENET0_RXD1
					   MX28_PAD_ENET0_TX_EN__ENET0_TX_EN
					   MX28_PAD_ENET0_TXD0__ENET0_TXD0
					   MX28_PAD_ENET0_TXD1__ENET0_TXD1
					   MX28_PAD_ENET_CLK__CLKCTRL_ENET
					>;
					fsl,drive-strength = <MXS_DRIVE_8mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};

				spi_boot_pins_auart2: spi-boot-pins-auart2@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					  MX28_PAD_SSP2_SCK__AUART2_RX
					  MX28_PAD_SSP2_MOSI__AUART2_TX
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};

				spi_boot_pins_auart3: spi-boot-pins-auart3@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					  MX28_PAD_SSP2_MISO__AUART3_RX
					  MX28_PAD_SSP2_SS0__AUART3_TX
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};

				auart4_pins: auart4@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					  MX28_PAD_SAIF0_BITCLK__AUART4_RX
					  MX28_PAD_SAIF0_SDATA0__AUART4_TX
					>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_DISABLE>;
				};

				misc_pins: misc@0 {
					reg = <0>;
					fsl,pinmux-ids = <
					  //USB 5V EN
					  MX28_PAD_LCD_CS__GPIO_1_27
					  //EN_CAN#
					  MX28_PAD_LCD_RESET__GPIO_3_30
			      		>;
					fsl,drive-strength = <MXS_DRIVE_4mA>;
					fsl,voltage = <MXS_VOLTAGE_HIGH>;
					fsl,pull-up = <MXS_PULL_ENABLE>;
				};
			};
			
			can0: can@80032000 {
				pinctrl-names = "default";
				pinctrl-0 = <&can0_pins_a>;
				status = "okay";
			};

			can1: can@80034000 {
				pinctrl-names = "default";
				pinctrl-0 = <&can1_pins_a>;
				status = "okay";
			};

		};

		apbx@80040000 {
			saif0: saif@80042000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif0_pins_a>;
				status = "disabled";
			};

			saif1: saif@80046000 {
				pinctrl-names = "default";
				pinctrl-0 = <&saif1_pins_a>;
				fsl,saif-master = <&saif0>;
				status = "disabled";
			};


			i2c0: i2c@80058000 {
				pinctrl-names = "default";
				pinctrl-0 = <&i2c0_pins_a>;
				clock-frequency = <100000>;
				status = "okay";

				rtc: isl12020@68 {
					compatible = "isl,isl12020";
					reg = <0x6f>;
				};

				gpio8: ts7682gpio@28 {
					compatible = "technologic,tsgpio-2bitio";
					ngpio = /bits/ 16 <64>;
					base = <192>;
					reg = <0x28>;   
					#gpio-cells = <2>;
					gpio-controller;
				};

				silabs: silabs@78 {
					compatible = "ts-wdt";
					reg = <0x78>;
				};

				accel: mma8451@1c {
					compatible = "fsl,mma8451";
					reg = <0x1c>;
					position = <0>;
					vdd-supply = <&reg_3p3v>;
					vddio-supply = <&reg_3p3v>;
					interrupt-parent = <&gpio0>;
					interrupts = <20 6>;
					interrupt-route = <1>;
				};
		   	};

			duart: serial@80074000 {
				pinctrl-names = "default";
				pinctrl-0 = <&duart_pins_a>;
				status = "okay";
			};

			usbphy0: usbphy@8007c000 {
				status = "okay";
								
			};

			usbphy1: usbphy@8007e000 {			   
				status = "okay";
			};


			auart0: serial@8006a000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart0_pins_a>;
				status = "okay";
			};

			auart1: serial@8006c000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart1_2pins_a>;
				status = "okay";
			};

			auart2: serial@8006e000 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi_boot_pins_auart2>;
				status = "okay";
			};

			auart3: serial@80070000 {
				pinctrl-names = "default";
				pinctrl-0 = <&spi_boot_pins_auart3>;
				status = "okay";
			};

			auart4: serial@80072000 {
				pinctrl-names = "default";
				pinctrl-0 = <&auart4_pins>;
				status = "okay";
			};

			pwm: pwm@80064000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pwm2_pins_a>;
				status = "okay";
			};
		};
	};

	ahb@80080000 {	   
		usb0: usb@80080000 {
			disable-over-current;
			dr_mode = "host";
			status = "okay";
		};

		usb1: usb@80090000 {
			disable-over-current;
			dr_mode = "host";
			status = "okay";
		};

		mac0: ethernet@800f0000 {
			phy-mode = "rmii";
			pinctrl-names = "default";
			pinctrl-0 = <&mac0_pins_ts7682>;			      
			clocks = <&clks 57>, <&clks 57>, <&clks 64>;
			clock-names = "ipg", "ahb", "enet_out";
		 	phy-supply = <&phy_dummy_vbus>;		
			phy-reset-gpios = <&gpio8 43 GPIO_ACTIVE_LOW>;
			phy-reset-duration = <1000>;
			status = "okay";

			phy: ethernet@0 {	   
				device_type = "network";
				fixed-link = <0 1 100 0 0>;
			};
		};
	};

	regulators {
		compatible = "simple-bus";

		reg_3p3v: 3p3v {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
		
		
		reg_vddio_sd0: vddio-sd0 {
			compatible = "regulator-fixed";
			regulator-name = "vddio-sd0";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
			gpio = <&gpio3 28 0>;
			};
	
		
		reg_usb0_vbus: usb0_vbus {
			compatible = "regulator-dummy";
			regulator-name = "usb0_vbus_dummy";
			regulator-always-on;
			
		};

		reg_usb1_vbus: usb1_vbus {
			compatible = "regulator-dummy";
			regulator-name = "usb1_vbus_dummy";
			regulator-always-on;
		};
		
		
		wl12xx_vmmc: wl12xx-vmmc {		
			compatible = "regulator-fixed";
			regulator-name = "vddio-sd1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			gpio = <&gpio8 44 0>;
			startup-delay-us = <70000>;
			enable-active-high;
			regulator-boot-on;
		};

		phy_dummy_vbus: phy_dummy_vbus {		
			compatible = "regulator-dummy";
			regulator-name = "phy-dummy";
			enable-active-high;
			regulator-boot-on;
		};


	};
	
	wlan  {
		compatible = "ti,wilink8";		
		interrupt-parent = <&gpio1>;		
		interrupts = <22 IRQ_TYPE_EDGE_FALLING>;
		interrupt-names = "wlan";
		status = "okay";
	};

	fpga_clock {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <12000000>;
		clock-output-names = "fpga_12mhz";
                pwms = <&pwm 2 83>; // 1 / 84 ns = 12ish MHz 
        };
	
	gpio_setup {
		compatible = "fsl,imx28-pinctrl";
		pinctrl-names = "default";
		pinctrl-0 = <
		  &misc_pins
		>;
	};
};


